[submodule "Plugins/ContextFramework"]
	path = Plugins/ContextFramework
	url = https://github.com/a-najafi/ContextFramework.git
[submodule "Plugins/UEMUD"]
	path = Plugins/UEMUD
	url = https://github.com/a-najafi/UEMUD.git
[submodule "Plugins/turbolink-uemud"]
	path = Plugins/turbolink-uemud
	url = https://github.com/a-najafi/turbolink-uemud.git
